{% extends 'pay/base.html' %} {% block title %}Bank Details{% endblock %} {% block body %}

<div class="panel" id="aboutus" style="width: 900px; height: 700px;">


<div class="panel-heading">Bank-SBI</div>
<div class="panel-body">Account no:4000 1000 0000 0000</div>
<br />
<br />

<div class="panel-heading">Bank-ICICI</div>
<div class="panel-body">Account no:3900 1000 0000</div>

</div>

<div class="panel" id="services">

</div>

<div class="panel" id="gallery">


</div>


</div>
</div>
</div>
{% endblock %}
